{% extends 'html_base.html' %}
{% block body %}
    <div class="container">
        <form class="form-horizontal" style="width: 500px;" method="POST">
            {% for property_list in property_set %}
                <h3>{{ property_list.title }}</h3>
                <table style="background: #ededff" class="table table-bordered">
                    <colgroup>
                        <col class="col1">
                        <col class="col2">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td><label>ID Number</label></td>
                        <td><label>{{ property_list.id }}</label></td>
                    </tr>
                    {% for property in property_list %}
                        <tr>
                            <td><label>{{ property.0 }}</label></td>
                            <td><label>{{ property.1|linebreaksbr }}</label></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <hr>
            {% endfor %}
        </form>
    </div>
{% endblock %}