{% extends "Insurance/insurance_base.html" %}
{% block navbar_title %} View Vehicle {% endblock %}
{% block sidebar_vehicle %}active{% endblock %}
{% block sidebar_contract_link %}{% url 'Insurance:view_contract' contract_info.contract.id %}{% endblock %}
{% block sidebar_back %}{% url 'Insurance:view_contract' contract_info.contract.id %}{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal" style="width: 400px;" method="POST">
            {% csrf_token %}
            <table style="background: #ededff" class="table table-bordered">
                <colgroup>
                    <col class="col1">
                    <col class="col2">
                </colgroup>
                <tbody>
                <tr>
                    <td><label>ID Number</label></td>
                    <td><label>{{ property_list.id }}</label></td>
                </tr>
                {% for property in property_list %}
                    <tr>
                        <td><label>{{ property.0 }}</label></td>
                        <td><label>{{ property.1|linebreaksbr }}</label></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if security.Secretory %}
                <a class="btn btn-warning" type="submit"
                   href="{% url 'Insurance:edit_vehicle' contract_info.contract.id contract_info.vehicle.id %}">Edit</a>
            {% endif %}
            <a class="btn btn-info" type="submit"
               href="{% url 'Insurance:history_vehicle' contract_info.contract.id contract_info.vehicle.id %}">History</a>
        </form>
    </div>
{% endblock %}